<!DOCTYPE html>
<html lang="ko-KR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>UI 프로젝트 - CSS</title>
    <link rel="icon" href="/vite.svg" />
    <link rel="preload" as="font" href="/font/woff2/PretendardVariable.woff2" crossorigin="anonymous" />
    <link rel="stylesheet" as="style" href="/font/pretendardvariable.css" />
    <script type="module" src="/src/main.js"></script>
  </head>
  <body>
    <h1 class="font-sans text-5xl font-bold">Vite + Tailwindcss</h1>
    <p>각자 폴더에 컴포넌트를 만들어서 최상단 index.html에 넣어주세요</p>
    <p>안녕하세요 차형주입니다</p>
  </body>
</html>
